annotated-doc==0.0.5
anyio==4.15.1
appnope==1.0.0
asttokens==3.0.2
certifi==2026.7.22
click==8.5.0
comm==0.2.3
debugpy==1.8.22
executing==2.2.1
filelock==4.0.7
fsspec==2026.9.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpcore2==2.13.1
httpx==0.28.1
httpx2==2.13.1
huggingface_hub==1.33.0
idna==3.20
ipykernel==7.4.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jupyter_client==8.10.0
jupyter_core==5.9.1
markdown-it-py==4.2.0
matplotlib-inline==0.2.2
mdurl==0.1.2
nest-asyncio2==1.7.3
numpy==2.5.3
packaging==26.3
pandas==3.0.6
parso==0.8.7
pexpect==4.9.0
platformdirs==4.12.2
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
Pygments==2.21.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyzmq==27.2.0
regex==2026.9.29
rich==15.0.0
safetensors==0.8.0
shellingham==1.5.4
six==1.17.0
stack-data==0.6.3
tokenizers==0.23.2
tornado==6.5.10
tqdm==4.70.1
traitlets==5.16.1
transformers==5.18.0
truststore==0.10.4
typer==0.27.2
typing_extensions==4.16.0
wcwidth==0.9.1
torch
PyGithub
python-dotenv
bitsandbytes
requests
pyarrow
accelerate
